.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.auth-page-container {
    width: 35vw;
    height: 70vh;
    min-width: 300px;
    min-height: 450px;
    background-color: #141414;
    border-radius: 30px;
    border: 1px solid #e42626;
}
