.header-container {
  height: 12vh;
  width: 100vw;
  background-color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height: 10vh;
  padding: 1vh 5vw;
}

.header-title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.header-navbar-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.header-title-logo {
  width: auto;
  height: auto;
  max-height: 100%;
}

.header-title-text {
  font-size: 4vb;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}
