.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.navbar-navigate {
  list-style-type: none;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.nav-link {
  font-size: 2vb;
  font-weight: 500;
  color: #e42626;
  margin: 0px 20px;
  padding: 0px;
  text-decoration: none;
}

.nav-link-active {
  font-size: 2.1vb;
  font-weight: 500;
  color: #b34b4b;
}
